.shinyContainer {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 40%,
    rgb(255, 255, 255) 50%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 3s linear infinite;
}

.paused {
  animation-play-state: paused;
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
